.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-2.518080px;}
._0{margin-left:-1.222080px;}
._1{width:1.750080px;}
._d{width:3.334080px;}
._a{width:29.681920px;}
._c{width:41.768000px;}
._b{width:48.928000px;}
._6{width:60.976000px;}
._2{width:70.000000px;}
._8{width:77.152000px;}
._4{width:107.632000px;}
._7{width:114.464000px;}
._5{width:117.158080px;}
._3{width:132.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:48.000000px;}
.fs1{font-size:55.680000px;}
.fs0{font-size:64.320000px;}
.y2f{bottom:105.620000px;}
.y2e{bottom:119.540000px;}
.y2d{bottom:133.220000px;}
.y2c{bottom:147.140000px;}
.y2b{bottom:160.850000px;}
.y2a{bottom:174.770000px;}
.y0{bottom:186.000000px;}
.y29{bottom:188.210000px;}
.y28{bottom:202.130000px;}
.y27{bottom:216.050000px;}
.y26{bottom:229.750000px;}
.y25{bottom:243.670000px;}
.y24{bottom:257.590000px;}
.y23{bottom:271.270000px;}
.y22{bottom:284.950000px;}
.y21{bottom:298.870000px;}
.y20{bottom:312.580000px;}
.y1f{bottom:326.500000px;}
.y1e{bottom:339.940000px;}
.y1d{bottom:354.100000px;}
.y1c{bottom:367.780000px;}
.y1b{bottom:381.720000px;}
.y1a{bottom:395.400000px;}
.y19{bottom:409.080000px;}
.y18{bottom:422.760000px;}
.y17{bottom:436.920000px;}
.y16{bottom:450.600000px;}
.y15{bottom:464.540000px;}
.y14{bottom:478.220000px;}
.y13{bottom:491.900000px;}
.y12{bottom:505.820000px;}
.y11{bottom:519.740000px;}
.y10{bottom:533.450000px;}
.yf{bottom:547.370000px;}
.ye{bottom:560.810000px;}
.yd{bottom:574.970000px;}
.yc{bottom:588.650000px;}
.yb{bottom:602.330000px;}
.ya{bottom:616.270000px;}
.y9{bottom:630.190000px;}
.y8{bottom:643.870000px;}
.y7{bottom:657.790000px;}
.y6{bottom:671.470000px;}
.y5{bottom:685.420000px;}
.y4{bottom:699.100000px;}
.y3{bottom:712.780000px;}
.y2{bottom:726.700000px;}
.y1{bottom:741.340000px;}
.h3{height:49.898438px;}
.h4{height:50.671875px;}
.h2{height:67.900312px;}
.h1{height:525.500000px;}
.h0{height:792.000000px;}
.w1{width:103.500000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x3{left:90.024000px;}
.x5{left:94.608000px;}
.x4{left:180.070000px;}
.x1{left:254.260000px;}
.x2{left:306.120000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-3.357440pt;}
._0{margin-left:-1.629440pt;}
._1{width:2.333440pt;}
._d{width:4.445440pt;}
._a{width:39.575893pt;}
._c{width:55.690667pt;}
._b{width:65.237333pt;}
._6{width:81.301333pt;}
._2{width:93.333333pt;}
._8{width:102.869333pt;}
._4{width:143.509333pt;}
._7{width:152.618667pt;}
._5{width:156.210773pt;}
._3{width:176.000000pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:74.240000pt;}
.fs0{font-size:85.760000pt;}
.y2f{bottom:140.826667pt;}
.y2e{bottom:159.386667pt;}
.y2d{bottom:177.626667pt;}
.y2c{bottom:196.186667pt;}
.y2b{bottom:214.466667pt;}
.y2a{bottom:233.026667pt;}
.y0{bottom:248.000000pt;}
.y29{bottom:250.946667pt;}
.y28{bottom:269.506667pt;}
.y27{bottom:288.066667pt;}
.y26{bottom:306.333333pt;}
.y25{bottom:324.893333pt;}
.y24{bottom:343.453333pt;}
.y23{bottom:361.693333pt;}
.y22{bottom:379.933333pt;}
.y21{bottom:398.493333pt;}
.y20{bottom:416.773333pt;}
.y1f{bottom:435.333333pt;}
.y1e{bottom:453.253333pt;}
.y1d{bottom:472.133333pt;}
.y1c{bottom:490.373333pt;}
.y1b{bottom:508.960000pt;}
.y1a{bottom:527.200000pt;}
.y19{bottom:545.440000pt;}
.y18{bottom:563.680000pt;}
.y17{bottom:582.560000pt;}
.y16{bottom:600.800000pt;}
.y15{bottom:619.386667pt;}
.y14{bottom:637.626667pt;}
.y13{bottom:655.866667pt;}
.y12{bottom:674.426667pt;}
.y11{bottom:692.986667pt;}
.y10{bottom:711.266667pt;}
.yf{bottom:729.826667pt;}
.ye{bottom:747.746667pt;}
.yd{bottom:766.626667pt;}
.yc{bottom:784.866667pt;}
.yb{bottom:803.106667pt;}
.ya{bottom:821.693333pt;}
.y9{bottom:840.253333pt;}
.y8{bottom:858.493333pt;}
.y7{bottom:877.053333pt;}
.y6{bottom:895.293333pt;}
.y5{bottom:913.893333pt;}
.y4{bottom:932.133333pt;}
.y3{bottom:950.373333pt;}
.y2{bottom:968.933333pt;}
.y1{bottom:988.453333pt;}
.h3{height:66.531250pt;}
.h4{height:67.562500pt;}
.h2{height:90.533750pt;}
.h1{height:700.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:138.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x3{left:120.032000pt;}
.x5{left:126.144000pt;}
.x4{left:240.093333pt;}
.x1{left:339.013333pt;}
.x2{left:408.160000pt;}
}
