.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.933105;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.059840px;}
._3{width:1.200640px;}
._4{width:2.253120px;}
._2{width:421.502400px;}
._0{width:677.683840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y23{bottom:224.470000px;}
.y22{bottom:238.870000px;}
.y21{bottom:253.510000px;}
.y20{bottom:267.910000px;}
.y1f{bottom:282.550000px;}
.y1e{bottom:297.430000px;}
.y1d{bottom:312.820000px;}
.y1c{bottom:327.220000px;}
.y1b{bottom:341.860000px;}
.y1a{bottom:356.260000px;}
.y19{bottom:370.660000px;}
.y18{bottom:385.320000px;}
.y17{bottom:399.720000px;}
.y16{bottom:414.120000px;}
.y15{bottom:428.760000px;}
.y14{bottom:443.160000px;}
.y13{bottom:458.300000px;}
.y12{bottom:473.420000px;}
.y11{bottom:488.060000px;}
.y10{bottom:502.460000px;}
.yf{bottom:517.100000px;}
.ye{bottom:531.530000px;}
.yd{bottom:545.930000px;}
.yc{bottom:561.050000px;}
.yb{bottom:576.410000px;}
.ya{bottom:590.810000px;}
.y9{bottom:605.230000px;}
.y8{bottom:619.870000px;}
.y7{bottom:634.270000px;}
.y6{bottom:648.910000px;}
.y5{bottom:663.310000px;}
.y4{bottom:677.710000px;}
.y3{bottom:692.860000px;}
.y2{bottom:708.700000px;}
.y1{bottom:732.220000px;}
.y0{bottom:745.660000px;}
.h1{height:33.723750px;}
.h2{height:36.281250px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:72.024000px;}
.x3{left:277.560000px;}
.x5{left:279.720000px;}
.x4{left:285.720000px;}
.x2{left:306.120000px;}
.x1{left:489.790000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.413120pt;}
._3{width:1.600853pt;}
._4{width:3.004160pt;}
._2{width:562.003200pt;}
._0{width:903.578453pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y23{bottom:299.293333pt;}
.y22{bottom:318.493333pt;}
.y21{bottom:338.013333pt;}
.y20{bottom:357.213333pt;}
.y1f{bottom:376.733333pt;}
.y1e{bottom:396.573333pt;}
.y1d{bottom:417.093333pt;}
.y1c{bottom:436.293333pt;}
.y1b{bottom:455.813333pt;}
.y1a{bottom:475.013333pt;}
.y19{bottom:494.213333pt;}
.y18{bottom:513.760000pt;}
.y17{bottom:532.960000pt;}
.y16{bottom:552.160000pt;}
.y15{bottom:571.680000pt;}
.y14{bottom:590.880000pt;}
.y13{bottom:611.066667pt;}
.y12{bottom:631.226667pt;}
.y11{bottom:650.746667pt;}
.y10{bottom:669.946667pt;}
.yf{bottom:689.466667pt;}
.ye{bottom:708.706667pt;}
.yd{bottom:727.906667pt;}
.yc{bottom:748.066667pt;}
.yb{bottom:768.546667pt;}
.ya{bottom:787.746667pt;}
.y9{bottom:806.973333pt;}
.y8{bottom:826.493333pt;}
.y7{bottom:845.693333pt;}
.y6{bottom:865.213333pt;}
.y5{bottom:884.413333pt;}
.y4{bottom:903.613333pt;}
.y3{bottom:923.813333pt;}
.y2{bottom:944.933333pt;}
.y1{bottom:976.293333pt;}
.y0{bottom:994.213333pt;}
.h1{height:44.965000pt;}
.h2{height:48.375000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.032000pt;}
.x3{left:370.080000pt;}
.x5{left:372.960000pt;}
.x4{left:380.960000pt;}
.x2{left:408.160000pt;}
.x1{left:653.053333pt;}
}
