.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.933105;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.768555;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.144000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.404000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.059840px;}
._3{width:1.200640px;}
._2{width:421.502400px;}
._0{width:677.683840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:48.096000px;}
.y2c{bottom:3.770000px;}
.y26{bottom:91.420000px;}
.y24{bottom:92.424000px;}
.y23{bottom:107.060000px;}
.y22{bottom:121.460000px;}
.y21{bottom:136.100000px;}
.y20{bottom:150.530000px;}
.y1f{bottom:165.650000px;}
.y1e{bottom:180.770000px;}
.y1d{bottom:195.410000px;}
.y1c{bottom:209.810000px;}
.y1b{bottom:224.230000px;}
.y1a{bottom:238.870000px;}
.y19{bottom:253.270000px;}
.y18{bottom:267.910000px;}
.y17{bottom:282.310000px;}
.y16{bottom:296.710000px;}
.y15{bottom:311.380000px;}
.y14{bottom:326.500000px;}
.y13{bottom:341.620000px;}
.y12{bottom:356.020000px;}
.y11{bottom:370.660000px;}
.y10{bottom:385.080000px;}
.yf{bottom:399.480000px;}
.ye{bottom:414.120000px;}
.yd{bottom:429.240000px;}
.yc{bottom:444.360000px;}
.yb{bottom:458.780000px;}
.ya{bottom:473.420000px;}
.y9{bottom:487.820000px;}
.y8{bottom:502.460000px;}
.y7{bottom:516.860000px;}
.y6{bottom:531.290000px;}
.y5{bottom:545.930000px;}
.y4{bottom:561.050000px;}
.y3{bottom:576.650000px;}
.y0{bottom:593.000000px;}
.y25{bottom:597.600000px;}
.y2b{bottom:615.790000px;}
.y2a{bottom:630.430000px;}
.y29{bottom:644.830000px;}
.y28{bottom:659.230000px;}
.y27{bottom:673.870000px;}
.y2{bottom:732.220000px;}
.y1{bottom:745.660000px;}
.h2{height:33.723750px;}
.h3{height:36.281250px;}
.h5{height:36.353812px;}
.h4{height:102.720000px;}
.h1{height:111.500000px;}
.h0{height:792.000000px;}
.w2{width:483.120000px;}
.w1{width:484.500000px;}
.w0{width:612.000000px;}
.x9{left:7.224000px;}
.x0{left:65.500000px;}
.x1{left:72.024000px;}
.x8{left:73.464000px;}
.x7{left:210.360000px;}
.x4{left:277.560000px;}
.x6{left:279.720000px;}
.x5{left:285.720000px;}
.x3{left:306.120000px;}
.x2{left:489.790000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.192000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.538667pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.413120pt;}
._3{width:1.600853pt;}
._2{width:562.003200pt;}
._0{width:903.578453pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:64.128000pt;}
.y2c{bottom:5.026667pt;}
.y26{bottom:121.893333pt;}
.y24{bottom:123.232000pt;}
.y23{bottom:142.746667pt;}
.y22{bottom:161.946667pt;}
.y21{bottom:181.466667pt;}
.y20{bottom:200.706667pt;}
.y1f{bottom:220.866667pt;}
.y1e{bottom:241.026667pt;}
.y1d{bottom:260.546667pt;}
.y1c{bottom:279.746667pt;}
.y1b{bottom:298.973333pt;}
.y1a{bottom:318.493333pt;}
.y19{bottom:337.693333pt;}
.y18{bottom:357.213333pt;}
.y17{bottom:376.413333pt;}
.y16{bottom:395.613333pt;}
.y15{bottom:415.173333pt;}
.y14{bottom:435.333333pt;}
.y13{bottom:455.493333pt;}
.y12{bottom:474.693333pt;}
.y11{bottom:494.213333pt;}
.y10{bottom:513.440000pt;}
.yf{bottom:532.640000pt;}
.ye{bottom:552.160000pt;}
.yd{bottom:572.320000pt;}
.yc{bottom:592.480000pt;}
.yb{bottom:611.706667pt;}
.ya{bottom:631.226667pt;}
.y9{bottom:650.426667pt;}
.y8{bottom:669.946667pt;}
.y7{bottom:689.146667pt;}
.y6{bottom:708.386667pt;}
.y5{bottom:727.906667pt;}
.y4{bottom:748.066667pt;}
.y3{bottom:768.866667pt;}
.y0{bottom:790.666667pt;}
.y25{bottom:796.800000pt;}
.y2b{bottom:821.053333pt;}
.y2a{bottom:840.573333pt;}
.y29{bottom:859.773333pt;}
.y28{bottom:878.973333pt;}
.y27{bottom:898.493333pt;}
.y2{bottom:976.293333pt;}
.y1{bottom:994.213333pt;}
.h2{height:44.965000pt;}
.h3{height:48.375000pt;}
.h5{height:48.471750pt;}
.h4{height:136.960000pt;}
.h1{height:148.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:644.160000pt;}
.w1{width:646.000000pt;}
.w0{width:816.000000pt;}
.x9{left:9.632000pt;}
.x0{left:87.333333pt;}
.x1{left:96.032000pt;}
.x8{left:97.952000pt;}
.x7{left:280.480000pt;}
.x4{left:370.080000pt;}
.x6{left:372.960000pt;}
.x5{left:380.960000pt;}
.x3{left:408.160000pt;}
.x2{left:653.053333pt;}
}
