.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.824000px;}
.ls9{letter-spacing:-0.768000px;}
.ls1{letter-spacing:-0.480000px;}
.ls3{letter-spacing:-0.192000px;}
.ls5{letter-spacing:-0.096000px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.096000px;}
.ls6{letter-spacing:0.336000px;}
.ls4{letter-spacing:0.480000px;}
.ls8{letter-spacing:1.056000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.816000px;}
._0{margin-left:-1.392000px;}
._1{width:1.232000px;}
._4{width:2.256000px;}
._5{width:3.536000px;}
._3{width:132.104000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:31.680000px;}
.fs0{font-size:48.000000px;}
.y0{bottom:0.000000px;}
.y2e{bottom:88.104000px;}
.y2d{bottom:101.780000px;}
.y2c{bottom:115.700000px;}
.y2b{bottom:129.380000px;}
.y2a{bottom:143.300000px;}
.y29{bottom:157.010000px;}
.y28{bottom:170.930000px;}
.y27{bottom:184.610000px;}
.y26{bottom:198.530000px;}
.y25{bottom:212.210000px;}
.y24{bottom:226.150000px;}
.y23{bottom:239.830000px;}
.y22{bottom:253.750000px;}
.y21{bottom:267.430000px;}
.y20{bottom:281.350000px;}
.y1f{bottom:295.030000px;}
.y1e{bottom:308.980000px;}
.y1d{bottom:322.660000px;}
.y1c{bottom:336.580000px;}
.y1b{bottom:350.260000px;}
.y1a{bottom:364.180000px;}
.y19{bottom:377.880000px;}
.y18{bottom:391.800000px;}
.y17{bottom:405.480000px;}
.y16{bottom:419.400000px;}
.y15{bottom:433.080000px;}
.y14{bottom:447.000000px;}
.y13{bottom:460.700000px;}
.y12{bottom:474.620000px;}
.y11{bottom:488.300000px;}
.y10{bottom:502.220000px;}
.yf{bottom:515.900000px;}
.ye{bottom:529.850000px;}
.yd{bottom:543.530000px;}
.yc{bottom:557.450000px;}
.yb{bottom:571.130000px;}
.ya{bottom:585.050000px;}
.y9{bottom:598.730000px;}
.y8{bottom:612.670000px;}
.y7{bottom:626.350000px;}
.y6{bottom:640.270000px;}
.y5{bottom:653.950000px;}
.y32{bottom:667.870000px;}
.y4{bottom:681.340000px;}
.y31{bottom:681.580000px;}
.y30{bottom:695.500000px;}
.y3{bottom:708.940000px;}
.y2f{bottom:709.180000px;}
.y2{bottom:731.500000px;}
.y1{bottom:745.180000px;}
.h3{height:33.515625px;}
.h1{height:49.898438px;}
.h2{height:50.671875px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x5{left:72.024000px;}
.x6{left:108.050000px;}
.x3{left:208.150000px;}
.x4{left:225.940000px;}
.x1{left:482.590000px;}
.x2{left:486.430000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-2.432000pt;}
.ls9{letter-spacing:-1.024000pt;}
.ls1{letter-spacing:-0.640000pt;}
.ls3{letter-spacing:-0.256000pt;}
.ls5{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.128000pt;}
.ls6{letter-spacing:0.448000pt;}
.ls4{letter-spacing:0.640000pt;}
.ls8{letter-spacing:1.408000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-3.754667pt;}
._0{margin-left:-1.856000pt;}
._1{width:1.642667pt;}
._4{width:3.008000pt;}
._5{width:4.714667pt;}
._3{width:176.138667pt;}
.fs1{font-size:42.240000pt;}
.fs0{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.y2e{bottom:117.472000pt;}
.y2d{bottom:135.706667pt;}
.y2c{bottom:154.266667pt;}
.y2b{bottom:172.506667pt;}
.y2a{bottom:191.066667pt;}
.y29{bottom:209.346667pt;}
.y28{bottom:227.906667pt;}
.y27{bottom:246.146667pt;}
.y26{bottom:264.706667pt;}
.y25{bottom:282.946667pt;}
.y24{bottom:301.533333pt;}
.y23{bottom:319.773333pt;}
.y22{bottom:338.333333pt;}
.y21{bottom:356.573333pt;}
.y20{bottom:375.133333pt;}
.y1f{bottom:393.373333pt;}
.y1e{bottom:411.973333pt;}
.y1d{bottom:430.213333pt;}
.y1c{bottom:448.773333pt;}
.y1b{bottom:467.013333pt;}
.y1a{bottom:485.573333pt;}
.y19{bottom:503.840000pt;}
.y18{bottom:522.400000pt;}
.y17{bottom:540.640000pt;}
.y16{bottom:559.200000pt;}
.y15{bottom:577.440000pt;}
.y14{bottom:596.000000pt;}
.y13{bottom:614.266667pt;}
.y12{bottom:632.826667pt;}
.y11{bottom:651.066667pt;}
.y10{bottom:669.626667pt;}
.yf{bottom:687.866667pt;}
.ye{bottom:706.466667pt;}
.yd{bottom:724.706667pt;}
.yc{bottom:743.266667pt;}
.yb{bottom:761.506667pt;}
.ya{bottom:780.066667pt;}
.y9{bottom:798.306667pt;}
.y8{bottom:816.893333pt;}
.y7{bottom:835.133333pt;}
.y6{bottom:853.693333pt;}
.y5{bottom:871.933333pt;}
.y32{bottom:890.493333pt;}
.y4{bottom:908.453333pt;}
.y31{bottom:908.773333pt;}
.y30{bottom:927.333333pt;}
.y3{bottom:945.253333pt;}
.y2f{bottom:945.573333pt;}
.y2{bottom:975.333333pt;}
.y1{bottom:993.573333pt;}
.h3{height:44.687500pt;}
.h1{height:66.531250pt;}
.h2{height:67.562500pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x5{left:96.032000pt;}
.x6{left:144.066667pt;}
.x3{left:277.533333pt;}
.x4{left:301.253333pt;}
.x1{left:643.453333pt;}
.x2{left:648.573333pt;}
}
