.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.480000px;}
.ls1{letter-spacing:-0.192000px;}
.ls5{letter-spacing:-0.096000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.480000px;}
.ls3{letter-spacing:0.768000px;}
.ls6{letter-spacing:1.920000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-3.648000px;}
._2{margin-left:-2.568000px;}
._0{margin-left:-1.200000px;}
._1{width:1.752000px;}
._3{width:2.872000px;}
._4{width:564.304000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y18{bottom:101.780000px;}
.y17{bottom:129.380000px;}
.y16{bottom:157.010000px;}
.y15{bottom:184.610000px;}
.y14{bottom:212.210000px;}
.y13{bottom:239.830000px;}
.y12{bottom:267.430000px;}
.y11{bottom:295.030000px;}
.y10{bottom:322.660000px;}
.yf{bottom:350.260000px;}
.ye{bottom:377.880000px;}
.yd{bottom:405.480000px;}
.yc{bottom:433.080000px;}
.yb{bottom:460.700000px;}
.ya{bottom:488.300000px;}
.y9{bottom:515.900000px;}
.y8{bottom:543.530000px;}
.y7{bottom:571.130000px;}
.y6{bottom:598.730000px;}
.y5{bottom:626.350000px;}
.y4{bottom:653.950000px;}
.y3{bottom:681.580000px;}
.y2{bottom:709.180000px;}
.y1{bottom:731.500000px;}
.y0{bottom:745.180000px;}
.h2{height:33.515625px;}
.h1{height:49.898438px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x1{left:72.024000px;}
.x3{left:108.050000px;}
.x2{left:185.110000px;}
.x4{left:275.640000px;}
.x0{left:492.430000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.640000pt;}
.ls1{letter-spacing:-0.256000pt;}
.ls5{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.640000pt;}
.ls3{letter-spacing:1.024000pt;}
.ls6{letter-spacing:2.560000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-4.864000pt;}
._2{margin-left:-3.424000pt;}
._0{margin-left:-1.600000pt;}
._1{width:2.336000pt;}
._3{width:3.829333pt;}
._4{width:752.405333pt;}
.fs0{font-size:64.000000pt;}
.y18{bottom:135.706667pt;}
.y17{bottom:172.506667pt;}
.y16{bottom:209.346667pt;}
.y15{bottom:246.146667pt;}
.y14{bottom:282.946667pt;}
.y13{bottom:319.773333pt;}
.y12{bottom:356.573333pt;}
.y11{bottom:393.373333pt;}
.y10{bottom:430.213333pt;}
.yf{bottom:467.013333pt;}
.ye{bottom:503.840000pt;}
.yd{bottom:540.640000pt;}
.yc{bottom:577.440000pt;}
.yb{bottom:614.266667pt;}
.ya{bottom:651.066667pt;}
.y9{bottom:687.866667pt;}
.y8{bottom:724.706667pt;}
.y7{bottom:761.506667pt;}
.y6{bottom:798.306667pt;}
.y5{bottom:835.133333pt;}
.y4{bottom:871.933333pt;}
.y3{bottom:908.773333pt;}
.y2{bottom:945.573333pt;}
.y1{bottom:975.333333pt;}
.y0{bottom:993.573333pt;}
.h2{height:44.687500pt;}
.h1{height:66.531250pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x1{left:96.032000pt;}
.x3{left:144.066667pt;}
.x2{left:246.813333pt;}
.x4{left:367.520000pt;}
.x0{left:656.573333pt;}
}
