.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.480000px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.240000px;}
.ls2{letter-spacing:0.384000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.296000px;}
._1{width:1.200000px;}
._2{width:2.272000px;}
._3{width:133.152000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y19{bottom:41.040000px;}
.y18{bottom:70.320000px;}
.y17{bottom:99.624000px;}
.y16{bottom:129.140000px;}
.y15{bottom:158.450000px;}
.y14{bottom:187.730000px;}
.y0{bottom:215.000000px;}
.y13{bottom:217.010000px;}
.y12{bottom:246.310000px;}
.y11{bottom:275.590000px;}
.y10{bottom:304.900000px;}
.yf{bottom:334.180000px;}
.ye{bottom:363.460000px;}
.yd{bottom:392.760000px;}
.yc{bottom:422.040000px;}
.yb{bottom:451.340000px;}
.y1a{bottom:478.500000px;}
.ya{bottom:480.620000px;}
.y9{bottom:509.900000px;}
.y8{bottom:539.450000px;}
.y7{bottom:568.730000px;}
.y6{bottom:598.010000px;}
.y5{bottom:627.310000px;}
.y4{bottom:656.590000px;}
.y3{bottom:685.900000px;}
.y2{bottom:715.180000px;}
.y1{bottom:744.460000px;}
.h2{height:38.625000px;}
.h3{height:176.500000px;}
.h1{height:498.500000px;}
.h0{height:792.000000px;}
.w1{width:158.000000px;}
.w2{width:178.500000px;}
.w0{width:612.000000px;}
.x2{left:36.024000px;}
.x3{left:54.024000px;}
.x1{left:72.024000px;}
.x0{left:168.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.640000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.320000pt;}
.ls2{letter-spacing:0.512000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.728000pt;}
._1{width:1.600000pt;}
._2{width:3.029333pt;}
._3{width:177.536000pt;}
.fs0{font-size:64.000000pt;}
.y19{bottom:54.720000pt;}
.y18{bottom:93.760000pt;}
.y17{bottom:132.832000pt;}
.y16{bottom:172.186667pt;}
.y15{bottom:211.266667pt;}
.y14{bottom:250.306667pt;}
.y0{bottom:286.666667pt;}
.y13{bottom:289.346667pt;}
.y12{bottom:328.413333pt;}
.y11{bottom:367.453333pt;}
.y10{bottom:406.533333pt;}
.yf{bottom:445.573333pt;}
.ye{bottom:484.613333pt;}
.yd{bottom:523.680000pt;}
.yc{bottom:562.720000pt;}
.yb{bottom:601.786667pt;}
.y1a{bottom:638.000000pt;}
.ya{bottom:640.826667pt;}
.y9{bottom:679.866667pt;}
.y8{bottom:719.266667pt;}
.y7{bottom:758.306667pt;}
.y6{bottom:797.346667pt;}
.y5{bottom:836.413333pt;}
.y4{bottom:875.453333pt;}
.y3{bottom:914.533333pt;}
.y2{bottom:953.573333pt;}
.y1{bottom:992.613333pt;}
.h2{height:51.500000pt;}
.h3{height:235.333333pt;}
.h1{height:664.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:210.666667pt;}
.w2{width:238.000000pt;}
.w0{width:816.000000pt;}
.x2{left:48.032000pt;}
.x3{left:72.032000pt;}
.x1{left:96.032000pt;}
.x0{left:224.666667pt;}
}
