.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937012;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.933105;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.059840px;}
._2{width:1.170880px;}
._3{width:239.172800px;}
._0{width:497.083840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y1f{bottom:89.064000px;}
.y1e{bottom:103.700000px;}
.y1d{bottom:118.100000px;}
.y21{bottom:121.660000px;}
.y1c{bottom:132.740000px;}
.y1b{bottom:147.140000px;}
.y1a{bottom:161.570000px;}
.y19{bottom:176.210000px;}
.y18{bottom:190.610000px;}
.y17{bottom:205.250000px;}
.y16{bottom:219.650000px;}
.y15{bottom:242.470000px;}
.y14{bottom:265.990000px;}
.y13{bottom:288.550000px;}
.y12{bottom:302.980000px;}
.y11{bottom:317.380000px;}
.y10{bottom:332.020000px;}
.yf{bottom:346.420000px;}
.ye{bottom:360.820000px;}
.yd{bottom:383.880000px;}
.yc{bottom:407.160000px;}
.yb{bottom:429.720000px;}
.ya{bottom:444.120000px;}
.y9{bottom:458.780000px;}
.y8{bottom:473.180000px;}
.y7{bottom:487.820000px;}
.y6{bottom:502.220000px;}
.y5{bottom:516.620000px;}
.y4{bottom:531.290000px;}
.y3{bottom:554.090000px;}
.y0{bottom:570.000000px;}
.y20{bottom:574.560000px;}
.y28{bottom:586.730000px;}
.y30{bottom:598.730000px;}
.y27{bottom:600.890000px;}
.y2f{bottom:613.150000px;}
.y26{bottom:615.310000px;}
.y2e{bottom:627.550000px;}
.y25{bottom:629.950000px;}
.y2d{bottom:642.190000px;}
.y24{bottom:644.350000px;}
.y2c{bottom:656.590000px;}
.y23{bottom:658.990000px;}
.y2b{bottom:670.990000px;}
.y22{bottom:673.390000px;}
.y2a{bottom:685.660000px;}
.y29{bottom:708.460000px;}
.y2{bottom:732.220000px;}
.y1{bottom:745.660000px;}
.h2{height:33.723750px;}
.h3{height:36.281250px;}
.h4{height:133.200000px;}
.h1{height:142.000000px;}
.h0{height:792.000000px;}
.w2{width:497.280000px;}
.w1{width:499.000000px;}
.w0{width:612.000000px;}
.x0{left:58.000000px;}
.x7{left:66.024000px;}
.x1{left:72.024000px;}
.x6{left:217.560000px;}
.x3{left:277.560000px;}
.x5{left:279.720000px;}
.x4{left:285.720000px;}
.x2{left:489.790000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.413120pt;}
._2{width:1.561173pt;}
._3{width:318.897067pt;}
._0{width:662.778453pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y1f{bottom:118.752000pt;}
.y1e{bottom:138.266667pt;}
.y1d{bottom:157.466667pt;}
.y21{bottom:162.213333pt;}
.y1c{bottom:176.986667pt;}
.y1b{bottom:196.186667pt;}
.y1a{bottom:215.426667pt;}
.y19{bottom:234.946667pt;}
.y18{bottom:254.146667pt;}
.y17{bottom:273.666667pt;}
.y16{bottom:292.866667pt;}
.y15{bottom:323.293333pt;}
.y14{bottom:354.653333pt;}
.y13{bottom:384.733333pt;}
.y12{bottom:403.973333pt;}
.y11{bottom:423.173333pt;}
.y10{bottom:442.693333pt;}
.yf{bottom:461.893333pt;}
.ye{bottom:481.093333pt;}
.yd{bottom:511.840000pt;}
.yc{bottom:542.880000pt;}
.yb{bottom:572.960000pt;}
.ya{bottom:592.160000pt;}
.y9{bottom:611.706667pt;}
.y8{bottom:630.906667pt;}
.y7{bottom:650.426667pt;}
.y6{bottom:669.626667pt;}
.y5{bottom:688.826667pt;}
.y4{bottom:708.386667pt;}
.y3{bottom:738.786667pt;}
.y0{bottom:760.000000pt;}
.y20{bottom:766.080000pt;}
.y28{bottom:782.306667pt;}
.y30{bottom:798.306667pt;}
.y27{bottom:801.186667pt;}
.y2f{bottom:817.533333pt;}
.y26{bottom:820.413333pt;}
.y2e{bottom:836.733333pt;}
.y25{bottom:839.933333pt;}
.y2d{bottom:856.253333pt;}
.y24{bottom:859.133333pt;}
.y2c{bottom:875.453333pt;}
.y23{bottom:878.653333pt;}
.y2b{bottom:894.653333pt;}
.y22{bottom:897.853333pt;}
.y2a{bottom:914.213333pt;}
.y29{bottom:944.613333pt;}
.y2{bottom:976.293333pt;}
.y1{bottom:994.213333pt;}
.h2{height:44.965000pt;}
.h3{height:48.375000pt;}
.h4{height:177.600000pt;}
.h1{height:189.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:663.040000pt;}
.w1{width:665.333333pt;}
.w0{width:816.000000pt;}
.x0{left:77.333333pt;}
.x7{left:88.032000pt;}
.x1{left:96.032000pt;}
.x6{left:290.080000pt;}
.x3{left:370.080000pt;}
.x5{left:372.960000pt;}
.x4{left:380.960000pt;}
.x2{left:653.053333pt;}
}
