.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937012;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.933105;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.059840px;}
._2{width:1.170880px;}
._3{width:239.172800px;}
._0{width:497.083840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y26{bottom:110.180000px;}
.y25{bottom:124.820000px;}
.y24{bottom:139.220000px;}
.y23{bottom:153.890000px;}
.y22{bottom:168.290000px;}
.y21{bottom:182.690000px;}
.y20{bottom:197.330000px;}
.y1f{bottom:220.130000px;}
.y1e{bottom:243.670000px;}
.y1d{bottom:258.070000px;}
.y1c{bottom:272.470000px;}
.y1b{bottom:287.110000px;}
.y1a{bottom:301.540000px;}
.y19{bottom:316.180000px;}
.y18{bottom:330.580000px;}
.y17{bottom:344.980000px;}
.y16{bottom:359.620000px;}
.y15{bottom:374.020000px;}
.y14{bottom:396.840000px;}
.y13{bottom:420.360000px;}
.y12{bottom:442.920000px;}
.y11{bottom:457.340000px;}
.y10{bottom:471.740000px;}
.yf{bottom:486.380000px;}
.ye{bottom:500.780000px;}
.yd{bottom:515.420000px;}
.yc{bottom:538.250000px;}
.yb{bottom:561.530000px;}
.ya{bottom:584.090000px;}
.y9{bottom:598.730000px;}
.y8{bottom:613.150000px;}
.y7{bottom:627.550000px;}
.y6{bottom:642.190000px;}
.y5{bottom:656.590000px;}
.y4{bottom:670.990000px;}
.y3{bottom:685.660000px;}
.y2{bottom:708.460000px;}
.y1{bottom:732.220000px;}
.y0{bottom:745.660000px;}
.h1{height:33.723750px;}
.h2{height:36.281250px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:72.024000px;}
.x2{left:277.560000px;}
.x4{left:279.720000px;}
.x3{left:285.720000px;}
.x1{left:489.790000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.413120pt;}
._2{width:1.561173pt;}
._3{width:318.897067pt;}
._0{width:662.778453pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y26{bottom:146.906667pt;}
.y25{bottom:166.426667pt;}
.y24{bottom:185.626667pt;}
.y23{bottom:205.186667pt;}
.y22{bottom:224.386667pt;}
.y21{bottom:243.586667pt;}
.y20{bottom:263.106667pt;}
.y1f{bottom:293.506667pt;}
.y1e{bottom:324.893333pt;}
.y1d{bottom:344.093333pt;}
.y1c{bottom:363.293333pt;}
.y1b{bottom:382.813333pt;}
.y1a{bottom:402.053333pt;}
.y19{bottom:421.573333pt;}
.y18{bottom:440.773333pt;}
.y17{bottom:459.973333pt;}
.y16{bottom:479.493333pt;}
.y15{bottom:498.693333pt;}
.y14{bottom:529.120000pt;}
.y13{bottom:560.480000pt;}
.y12{bottom:590.560000pt;}
.y11{bottom:609.786667pt;}
.y10{bottom:628.986667pt;}
.yf{bottom:648.506667pt;}
.ye{bottom:667.706667pt;}
.yd{bottom:687.226667pt;}
.yc{bottom:717.666667pt;}
.yb{bottom:748.706667pt;}
.ya{bottom:778.786667pt;}
.y9{bottom:798.306667pt;}
.y8{bottom:817.533333pt;}
.y7{bottom:836.733333pt;}
.y6{bottom:856.253333pt;}
.y5{bottom:875.453333pt;}
.y4{bottom:894.653333pt;}
.y3{bottom:914.213333pt;}
.y2{bottom:944.613333pt;}
.y1{bottom:976.293333pt;}
.y0{bottom:994.213333pt;}
.h1{height:44.965000pt;}
.h2{height:48.375000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.032000pt;}
.x2{left:370.080000pt;}
.x4{left:372.960000pt;}
.x3{left:380.960000pt;}
.x1{left:653.053333pt;}
}
