.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895508;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.920000px;}
.ls3{letter-spacing:-0.864000px;}
.ls1{letter-spacing:-0.192000px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.960000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.703040px;}
._0{margin-left:-1.277760px;}
._1{width:1.102400px;}
._3{width:2.377600px;}
._4{width:4.383360px;}
._5{width:132.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:64.320000px;}
.y32{bottom:55.680000px;}
.y19{bottom:74.184000px;}
.y31{bottom:83.304000px;}
.y18{bottom:101.780000px;}
.y30{bottom:110.900000px;}
.y17{bottom:129.380000px;}
.y2f{bottom:138.500000px;}
.y16{bottom:157.010000px;}
.y2e{bottom:166.130000px;}
.y15{bottom:184.610000px;}
.y2d{bottom:193.730000px;}
.y14{bottom:212.210000px;}
.y2c{bottom:221.330000px;}
.y13{bottom:239.830000px;}
.y2b{bottom:248.950000px;}
.y12{bottom:267.430000px;}
.y2a{bottom:276.550000px;}
.y11{bottom:295.030000px;}
.y29{bottom:304.180000px;}
.y10{bottom:322.660000px;}
.y28{bottom:331.780000px;}
.yf{bottom:350.260000px;}
.y27{bottom:359.380000px;}
.ye{bottom:377.880000px;}
.y26{bottom:387.000000px;}
.yd{bottom:405.480000px;}
.y25{bottom:414.600000px;}
.yc{bottom:433.080000px;}
.y24{bottom:442.200000px;}
.yb{bottom:460.700000px;}
.y23{bottom:469.820000px;}
.ya{bottom:488.300000px;}
.y22{bottom:497.420000px;}
.y9{bottom:515.900000px;}
.y21{bottom:525.020000px;}
.y8{bottom:543.530000px;}
.y20{bottom:552.650000px;}
.y7{bottom:571.130000px;}
.y1f{bottom:580.250000px;}
.y6{bottom:598.730000px;}
.y1e{bottom:607.870000px;}
.y5{bottom:626.350000px;}
.y1d{bottom:635.470000px;}
.y4{bottom:653.950000px;}
.y1c{bottom:663.070000px;}
.y3{bottom:681.580000px;}
.y1b{bottom:690.700000px;}
.y2{bottom:714.700000px;}
.y1a{bottom:718.300000px;}
.y1{bottom:732.220000px;}
.y0{bottom:745.660000px;}
.h1{height:33.486562px;}
.h4{height:33.515625px;}
.h3{height:49.898438px;}
.h2{height:66.863906px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x4{left:36.024000px;}
.x3{left:72.024000px;}
.x2{left:195.670000px;}
.x5{left:275.640000px;}
.x0{left:512.110000px;}
.x1{left:531.100000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-2.560000pt;}
.ls3{letter-spacing:-1.152000pt;}
.ls1{letter-spacing:-0.256000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:1.280000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-3.604053pt;}
._0{margin-left:-1.703680pt;}
._1{width:1.469867pt;}
._3{width:3.170133pt;}
._4{width:5.844480pt;}
._5{width:176.000000pt;}
.fs0{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:85.760000pt;}
.y32{bottom:74.240000pt;}
.y19{bottom:98.912000pt;}
.y31{bottom:111.072000pt;}
.y18{bottom:135.706667pt;}
.y30{bottom:147.866667pt;}
.y17{bottom:172.506667pt;}
.y2f{bottom:184.666667pt;}
.y16{bottom:209.346667pt;}
.y2e{bottom:221.506667pt;}
.y15{bottom:246.146667pt;}
.y2d{bottom:258.306667pt;}
.y14{bottom:282.946667pt;}
.y2c{bottom:295.106667pt;}
.y13{bottom:319.773333pt;}
.y2b{bottom:331.933333pt;}
.y12{bottom:356.573333pt;}
.y2a{bottom:368.733333pt;}
.y11{bottom:393.373333pt;}
.y29{bottom:405.573333pt;}
.y10{bottom:430.213333pt;}
.y28{bottom:442.373333pt;}
.yf{bottom:467.013333pt;}
.y27{bottom:479.173333pt;}
.ye{bottom:503.840000pt;}
.y26{bottom:516.000000pt;}
.yd{bottom:540.640000pt;}
.y25{bottom:552.800000pt;}
.yc{bottom:577.440000pt;}
.y24{bottom:589.600000pt;}
.yb{bottom:614.266667pt;}
.y23{bottom:626.426667pt;}
.ya{bottom:651.066667pt;}
.y22{bottom:663.226667pt;}
.y9{bottom:687.866667pt;}
.y21{bottom:700.026667pt;}
.y8{bottom:724.706667pt;}
.y20{bottom:736.866667pt;}
.y7{bottom:761.506667pt;}
.y1f{bottom:773.666667pt;}
.y6{bottom:798.306667pt;}
.y1e{bottom:810.493333pt;}
.y5{bottom:835.133333pt;}
.y1d{bottom:847.293333pt;}
.y4{bottom:871.933333pt;}
.y1c{bottom:884.093333pt;}
.y3{bottom:908.773333pt;}
.y1b{bottom:920.933333pt;}
.y2{bottom:952.933333pt;}
.y1a{bottom:957.733333pt;}
.y1{bottom:976.293333pt;}
.y0{bottom:994.213333pt;}
.h1{height:44.648750pt;}
.h4{height:44.687500pt;}
.h3{height:66.531250pt;}
.h2{height:89.151875pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x4{left:48.032000pt;}
.x3{left:96.032000pt;}
.x2{left:260.893333pt;}
.x5{left:367.520000pt;}
.x0{left:682.813333pt;}
.x1{left:708.133333pt;}
}
