.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.768555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.240000px;}
.ls2{letter-spacing:1.056000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.104000px;}
._3{width:1.200000px;}
._2{width:261.231360px;}
._0{width:519.163840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y17{bottom:93.144000px;}
.y16{bottom:122.420000px;}
.y15{bottom:151.730000px;}
.y14{bottom:181.010000px;}
.y13{bottom:210.290000px;}
.y12{bottom:239.590000px;}
.y11{bottom:268.870000px;}
.y10{bottom:298.150000px;}
.yf{bottom:327.460000px;}
.ye{bottom:356.740000px;}
.yd{bottom:386.040000px;}
.yc{bottom:415.320000px;}
.yb{bottom:444.600000px;}
.ya{bottom:473.900000px;}
.y9{bottom:503.420000px;}
.y8{bottom:532.730000px;}
.y7{bottom:562.010000px;}
.y6{bottom:591.290000px;}
.y5{bottom:620.590000px;}
.y4{bottom:649.870000px;}
.y3{bottom:679.180000px;}
.y2{bottom:708.460000px;}
.y1{bottom:732.220000px;}
.y0{bottom:745.660000px;}
.h1{height:35.535000px;}
.h2{height:38.625000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:72.024000px;}
.x2{left:108.050000px;}
.x1{left:492.910000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.320000pt;}
.ls2{letter-spacing:1.408000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.472000pt;}
._3{width:1.600000pt;}
._2{width:348.308480pt;}
._0{width:692.218453pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y17{bottom:124.192000pt;}
.y16{bottom:163.226667pt;}
.y15{bottom:202.306667pt;}
.y14{bottom:241.346667pt;}
.y13{bottom:280.386667pt;}
.y12{bottom:319.453333pt;}
.y11{bottom:358.493333pt;}
.y10{bottom:397.533333pt;}
.yf{bottom:436.613333pt;}
.ye{bottom:475.653333pt;}
.yd{bottom:514.720000pt;}
.yc{bottom:553.760000pt;}
.yb{bottom:592.800000pt;}
.ya{bottom:631.866667pt;}
.y9{bottom:671.226667pt;}
.y8{bottom:710.306667pt;}
.y7{bottom:749.346667pt;}
.y6{bottom:788.386667pt;}
.y5{bottom:827.453333pt;}
.y4{bottom:866.493333pt;}
.y3{bottom:905.573333pt;}
.y2{bottom:944.613333pt;}
.y1{bottom:976.293333pt;}
.y0{bottom:994.213333pt;}
.h1{height:47.380000pt;}
.h2{height:51.500000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.032000pt;}
.x2{left:144.066667pt;}
.x1{left:657.213333pt;}
}
