#sidebar {
	display: none;
}

.pf {
	margin: 0;
	flex-shrink: 0;
}

#page-container {
	background: none transparent;
	transform-origin: top center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

body .t { color: black;/*rgb(202, 149, 1);*/ }
body .pf { background-color: rgba(255, 255, 255, 1); }

.pf::before {
	position: absolute;
	font-size: 10px;
	top: 1em;
	left: 1em;
	content: "Page " attr(data-page-no) " / " attr(data-last-page);
}

.pf .page-nav {
	font-size: 10px;
	position: absolute;
	right: 1em;
}

.pf .page-nav > div {
	/*css arrow things*/
}

.pf .page-nav.top { top: 1em; }
.pf .page-nav.bottom { bottom: 1em; }

.pf[data-page-no='1'] .page-nav .prev, .pf:last-child  .page-nav .next {  /* make the arrow grayed out */ }