.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.277760px;}
._2{width:1.085760px;}
._1{width:2.155520px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y0{bottom:0.000000px;}
.y2b{bottom:107.780000px;}
.y2a{bottom:122.420000px;}
.y29{bottom:137.060000px;}
.y28{bottom:151.730000px;}
.y27{bottom:166.370000px;}
.y26{bottom:181.010000px;}
.y25{bottom:195.650000px;}
.y24{bottom:210.290000px;}
.y23{bottom:224.950000px;}
.y22{bottom:239.590000px;}
.y21{bottom:254.230000px;}
.y20{bottom:268.870000px;}
.y1f{bottom:283.510000px;}
.y1e{bottom:298.150000px;}
.y1d{bottom:312.820000px;}
.y1c{bottom:327.460000px;}
.y1b{bottom:342.100000px;}
.y1a{bottom:356.740000px;}
.y19{bottom:371.380000px;}
.y18{bottom:386.040000px;}
.y17{bottom:400.680000px;}
.y16{bottom:415.320000px;}
.y15{bottom:429.960000px;}
.y14{bottom:444.600000px;}
.y13{bottom:459.260000px;}
.y12{bottom:473.900000px;}
.y11{bottom:488.540000px;}
.y10{bottom:503.420000px;}
.yf{bottom:518.060000px;}
.ye{bottom:532.730000px;}
.yd{bottom:547.370000px;}
.yc{bottom:562.010000px;}
.yb{bottom:576.650000px;}
.ya{bottom:591.290000px;}
.y9{bottom:605.950000px;}
.y8{bottom:620.590000px;}
.y7{bottom:635.230000px;}
.y6{bottom:649.870000px;}
.y5{bottom:664.510000px;}
.y4{bottom:679.180000px;}
.y3{bottom:693.820000px;}
.y2{bottom:708.460000px;}
.y1{bottom:745.660000px;}
.h1{height:33.723750px;}
.h2{height:36.656250px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:72.024000px;}
.x3{left:108.050000px;}
.x2{left:272.020000px;}
.x1{left:476.110000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.703680pt;}
._2{width:1.447680pt;}
._1{width:2.874027pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.y2b{bottom:143.706667pt;}
.y2a{bottom:163.226667pt;}
.y29{bottom:182.746667pt;}
.y28{bottom:202.306667pt;}
.y27{bottom:221.826667pt;}
.y26{bottom:241.346667pt;}
.y25{bottom:260.866667pt;}
.y24{bottom:280.386667pt;}
.y23{bottom:299.933333pt;}
.y22{bottom:319.453333pt;}
.y21{bottom:338.973333pt;}
.y20{bottom:358.493333pt;}
.y1f{bottom:378.013333pt;}
.y1e{bottom:397.533333pt;}
.y1d{bottom:417.093333pt;}
.y1c{bottom:436.613333pt;}
.y1b{bottom:456.133333pt;}
.y1a{bottom:475.653333pt;}
.y19{bottom:495.173333pt;}
.y18{bottom:514.720000pt;}
.y17{bottom:534.240000pt;}
.y16{bottom:553.760000pt;}
.y15{bottom:573.280000pt;}
.y14{bottom:592.800000pt;}
.y13{bottom:612.346667pt;}
.y12{bottom:631.866667pt;}
.y11{bottom:651.386667pt;}
.y10{bottom:671.226667pt;}
.yf{bottom:690.746667pt;}
.ye{bottom:710.306667pt;}
.yd{bottom:729.826667pt;}
.yc{bottom:749.346667pt;}
.yb{bottom:768.866667pt;}
.ya{bottom:788.386667pt;}
.y9{bottom:807.933333pt;}
.y8{bottom:827.453333pt;}
.y7{bottom:846.973333pt;}
.y6{bottom:866.493333pt;}
.y5{bottom:886.013333pt;}
.y4{bottom:905.573333pt;}
.y3{bottom:925.093333pt;}
.y2{bottom:944.613333pt;}
.y1{bottom:994.213333pt;}
.h1{height:44.965000pt;}
.h2{height:48.875000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:96.032000pt;}
.x3{left:144.066667pt;}
.x2{left:362.693333pt;}
.x1{left:634.813333pt;}
}
