.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.766602;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:-0.393600px;}
.ls5{letter-spacing:-0.314800px;}
.ls1{letter-spacing:-0.309200px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.059600px;}
.ls3{letter-spacing:0.391600px;}
.ls4{letter-spacing:0.404000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.293760px;}
._2{width:1.112320px;}
._3{width:2.375360px;}
._6{width:4.106880px;}
._5{width:5.503040px;}
._4{width:7.109760px;}
._7{width:22.799680px;}
._1{width:134.123840px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.160000px;}
.y19{bottom:91.704000px;}
.y18{bottom:118.580000px;}
.y17{bottom:145.460000px;}
.y16{bottom:172.370000px;}
.y15{bottom:199.250000px;}
.y14{bottom:226.150000px;}
.y13{bottom:253.030000px;}
.y12{bottom:279.910000px;}
.y11{bottom:306.820000px;}
.y10{bottom:333.460000px;}
.yf{bottom:360.340000px;}
.ye{bottom:387.240000px;}
.yd{bottom:414.120000px;}
.yc{bottom:441.000000px;}
.yb{bottom:467.900000px;}
.ya{bottom:494.780000px;}
.y9{bottom:521.660000px;}
.y8{bottom:548.570000px;}
.y7{bottom:575.450000px;}
.y6{bottom:602.090000px;}
.y5{bottom:628.990000px;}
.y4{bottom:655.870000px;}
.y3{bottom:682.780000px;}
.y2{bottom:709.660000px;}
.y1{bottom:732.220000px;}
.y0{bottom:745.660000px;}
.h1{height:35.535000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x1{left:72.024000px;}
.x4{left:108.050000px;}
.x2{left:268.180000px;}
.x3{left:278.760000px;}
.x0{left:496.030000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls6{letter-spacing:-0.524800pt;}
.ls5{letter-spacing:-0.419733pt;}
.ls1{letter-spacing:-0.412267pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.079467pt;}
.ls3{letter-spacing:0.522133pt;}
.ls4{letter-spacing:0.538667pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.725013pt;}
._2{width:1.483093pt;}
._3{width:3.167147pt;}
._6{width:5.475840pt;}
._5{width:7.337387pt;}
._4{width:9.479680pt;}
._7{width:30.399573pt;}
._1{width:178.831787pt;}
.fs0{font-size:58.880000pt;}
.y19{bottom:122.272000pt;}
.y18{bottom:158.106667pt;}
.y17{bottom:193.946667pt;}
.y16{bottom:229.826667pt;}
.y15{bottom:265.666667pt;}
.y14{bottom:301.533333pt;}
.y13{bottom:337.373333pt;}
.y12{bottom:373.213333pt;}
.y11{bottom:409.093333pt;}
.y10{bottom:444.613333pt;}
.yf{bottom:480.453333pt;}
.ye{bottom:516.320000pt;}
.yd{bottom:552.160000pt;}
.yc{bottom:588.000000pt;}
.yb{bottom:623.866667pt;}
.ya{bottom:659.706667pt;}
.y9{bottom:695.546667pt;}
.y8{bottom:731.426667pt;}
.y7{bottom:767.266667pt;}
.y6{bottom:802.786667pt;}
.y5{bottom:838.653333pt;}
.y4{bottom:874.493333pt;}
.y3{bottom:910.373333pt;}
.y2{bottom:946.213333pt;}
.y1{bottom:976.293333pt;}
.y0{bottom:994.213333pt;}
.h1{height:47.380000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x1{left:96.032000pt;}
.x4{left:144.066667pt;}
.x2{left:357.573333pt;}
.x3{left:371.680000pt;}
.x0{left:661.373333pt;}
}
