<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} - english.jmariner.com</title>

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,900">
		<link rel="stylesheet" href="/assets/styles/{{ page.style }}.css">
		<link rel="stylesheet" href="/assets/styles/scroll.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
		<script src="/assets/js/style.js"></script>
	</head>
	<body data-location="{{ page.location }}">
		{{ content }}
	</body>
</html>