<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} - english.jmariner.com</title>

		<meta name="theme-color" content="rgb(58,9,9)">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,900">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/assets/styles/main.css">
		{% if page.style1 %}<link rel="stylesheet" href="/assets/styles/{{ page.style1 }}.css">{% endif %}
		{% if page.style2 %}<link rel="stylesheet" href="/assets/styles/{{ page.style2 }}.css">{% endif %}
		{% if page.style3 %}<link rel="stylesheet" href="/assets/styles/{{ page.style3 }}.css">{% endif %}
		{% if page.scrollStyle %}<link rel="stylesheet" href="/assets/styles/{{ page.scrollStyle }}.css">{% endif %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
		{% if page.script1 %}<script src="/assets/js/{{ page.script1 }}.js"></script>{% endif %}
		{% if page.script2 %}<script src="/assets/js/{{ page.script2 }}.js"></script>{% endif %}
		{% if page.script3 %}<script src="/assets/js/{{ page.script3 }}.js"></script>{% endif %}

	</head>
	<body data-location="{{ page.location }}">
		{{ content }}
		<footer>
			<div class="left">
				<a href="/">English Home</a>
			</div>
			<div class="center"></div>
			<div class="right"></div>
		</footer>
	</body>
</html>