---
layout: plain
scrollStyle: portfolio/scroll
style2: portfolio/main
style3: portfolio/page
script1: portfolio/style
footerCenter: portfolio/footer.html
---
<header>
	<div class="titlebar">
		<div class="title"><a href="/portfolio">Checkmate: My Portfolio</a></div>
		<div class="name">Justin Mariner</div>
	</div>
	<i id="openNav"class="menu material-icons">menu</i>
	<nav>
		<a id="closeNav"><i class="close material-icons">close</i></a>
		<a class="home" href="/portfolio">Home</a>
		<a class="metaphor_poem" href="/portfolio/metaphor_poem">Dear Reader</a>
		<!--<div class="dropdown">-->
			<a class="9th_grade" href="/portfolio/9th_grade">Freshman</a>
			<a class="10th_grade" href="/portfolio/10th_grade">Sophomore</a>
			<a class="11th_grade" href="/portfolio/11th_grade">Junior</a>
			<a class="12th_grade" href="/portfolio/12th_grade">Senior</a>
		<!--</div>-->
		<a class="college_essay" href="/portfolio/college_essay">College Essay</a>
		<a class="resume" href="/portfolio/resume">Résumé</a>
		<a class="hidden whats_next" href="/portfolio/whats_next">What's Next</a>
		<a class="sources" href="/portfolio/sources">Works Cited</a>
	</nav>
</header>
{{ content }}